body {
	background-color: #c6070c;
	color: #ffe392;
	font-family: "Lato", Helvetica, Arial, "ヒラギノ角ゴシック体 GB W6", Hiragino Sans GB W6, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align: center;
}

table {
	padding-top: 80px;
	 margin: auto;
	 width: 30%;
}

.pinyin {
	height: 20px;
	font-size: 1.1em;
	letter-spacing: 3px;
	font-weight: 400;
}

td {
	font-size: 8em;
	text-align: center;
	font-weight: 700;
	padding: 0px;
}

h2 {
	margin-top: 15px;
	margin-bottom: 100px;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700;
	word-spacing: 5px;
}

p {
	font-weight: 700;
	letter-spacing: 1px;
	word-spacing: 2px;
}

button {
	background-color: #ef941a;
	color: #fffbe2;
	width: 200px;
	position: relative;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	line-height: 0.5;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

button:hover, button:focus {
	background-color: #efa134;
}

button:active {
	transform: translate(0px, 2px);
	-webkit-transform: translate(0px, 2px);
  }